<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.css" />
</head>

<body><div class="text-center">
        {{>buttercupbutts}}
<div class="container">
<img src="not_jim.jpg" />
<p>Hat Trick Hero... George Boyd for Peterborough United against Accrington Stanley on the 15th January 2008. Nicolas Anelka for Manchester City against Aston Villa on the 14th November 2003. Matthew Le Tissier for Southampton against Liverpool on the 14th February 1994. Santi Cazorla for Arsenal against Reading on the 17th December 2012. David Villa for Spain against Russia on the 10th June 2008. Harry Kane for Tottenham Hotspur against Leicester City on the 21st March 2015. Alan Shearer for Newcastle United against Sheffield Wednesday on the 18th September 1999. Lee Thorpe for Lincoln City against Morecambe on the 28th November 2000. Jermain Defoe for Tottenham Hotspur against Hull City on the 19th August 2009.</p>
<p>Jamie Forrester for Lincoln City against Mansfield Town on the 26th August 2006. Milan Baros for Liverpool against Crystal Palace on the 13th November 2004. Chris Bart-Williams for Sheffield Wednesday against Southampton on the 12th April 1993. Dion Dublin for Coventry City against Sheffield Wednesday on the 4th December 1995. Jonny Howson for Leeds United against Scunthorpe United on the 30th October 2010.</p>
</div></div>
</body>
</html>