<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.css" />
</head>

<body><div class="text-center">
        {{>buttercupbutts}}

<br /><br /> Here is what not jim said : {{stuff}}
<br /><br /> Here is something else : {{two}}
<br /><br /> And more of something : {{three}}{{>footer}}</div>
</body></div>
</html>