<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.css" />
</head>
<body><div class="text-center">
        {{>buttercupbutts}}
   <h2>What did not jim say? :</h2> <form action="/result" method="POST" ><input type="text" name="stuff"><br /><h2>three things huh :</h2><input type="text" name="two" value="three things really jay"><br /><h2>something else</h2><input type="text" name="three"><br />
   <br /> <br /> <button type="submit">Submit</button>
</form>{{>footer}}</div></body></div>
</html>