<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.css" />
</head>
<body><div class="text-center">
    {{>buttercupbutts}}
<img src="https://linksmagazine.com/wp-content/images/4084.jpg?x66510"><br /><br />
    <div class="buhhh"><p>There are two things you don't do: One, you don't open an e-mail from Phil Simms in front of your kids, and, two, you don't jinx a man going for a perfect week.</p>
    <p>{{ today }}</p></div>
    {{>footer}}</div>
</body>
</html>