<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add me darling</title>
</head>
<body>
    <form action="/results" method="POST">
            <input type="text" name="fname">
            <input type="text" name="lname">
            <select name="department">
                <option>Jimmy</option>
                <option>Jammy</option>
                <option>Whammy</option>                
            </select>
            <input type="date" name="date">
            <input type="text" name="job">
            <input type="text" name="salary">
            <input type="submit" value="deadly sinners ahaaaaaa">
    </form>


</body>
</html>