<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <Style>
        body{
            background-color:black;
            color:white;

        }
        #mah {
            margin:auto;
            width:600px;
            text-align:center;
        }


    </Style>
</head>

<body>
    <div id="mah">
    <form action="results" method="POST">
        <input type="text" name="fname"><br />
        <input type="text" name="lname"><br />
        <input type="text" name="dept"><br />
        <input type="date" name="date"><br />
        <input type="text" name="title"><br />
        <input type="number" name="salary"><br />
        <input type="submit" value="submit">
    </form>
    </div>
</body>
</html>